{% extends 'layouts/main.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

<h1>Страница редактирования статьи</h1>

<div class="container mt-4">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="row">
    <div class="col">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div class="col">
        {{ form_label(form.preview, 'Превью статьи') }}
        {{ form_errors(form.preview) }}
        {{ form_widget(form.preview) }}
    </div>
    <div class="col">
        {{ form_label(form.text, 'Текст статьи') }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text) }}
    </div>

    {% if article.image is not null %}
        <div>
            <img src="{{ asset(article.image) }}" alt="pic">
        </div>
        <div>
            <label for="delete">Удалить картинку</label>
            <input type="checkbox" name="delete">
        </div>
    {% endif %}


    <div class="col">
        {{ form_label(form.image, 'Добавить изображение') }}
        {{ form_widget(form.image) }}
    </div>

</div>

<input type="submit" value="Сохранить">

{{ form_end(form) }}

</div>

{% endblock %}